<% layout('layouts/boilerplate') -%>

<div class="container-fluid">
  <div class="row">
    <div class="menu col-12 col-lg-10">
      <a href="/listings?category=castle" class="text-center"
        ><i class="fa-brands fa-fort-awesome"></i>
        <div>Castles</div>
      </a>
      <a href="/listings?category=surfing" class="text-center"
        ><i class="fa-solid fa-ship"></i>
        <div>Surfing</div>
      </a>
      <a href="/listings?category=camping" class="text-center">
        <i class="fa-solid fa-tents"></i>
        <div>Camping</div>
      </a>
      <a href="/listings?category=beach" class="text-center"
        ><i class="fa-solid fa-umbrella-beach"></i>
        <div>Beach</div>
      </a>
      <a href="/listings?category=dome" class="text-center"
        ><i class="fa-solid fa-landmark-dome"></i>
        <div>Domes</div>
      </a>
      <a href="/listings?category=boat" class="text-center"
        ><i class="fa-solid fa-sailboat"></i>
        <div>Boats</div>
      </a>

      <a href="/listings?category=tower" class="text-center"
        ><i class="fa-solid fa-tower-observation"></i>
        <div>Towers</div>
      </a>
      <a href="/listings?category=room" class="text-center"
        ><i class="fa-solid fa-bed"></i>
        <div>Rooms</div>
      </a>
      <a href="/listings?category=play" class="text-center"
        ><i class="fa-solid fa-football"></i>
        <div>Play</div>
      </a>
      <a href="/listings?category=creative" class="text-center"
        ><i class="fa-solid fa-paintbrush"></i>
        <div>Creative</div>
      </a>

      <!-- <a href="/listings?category=castle" class="text-center"
        ><i class="fa-solid fa-person-skiing"></i>
        <div>Skiing</div>
      </a> -->
    </div>

    <div class="col-lg-2 d-none d-lg-block switch-container h-100">
      <div class="form-check form-switch form-check-reverse">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckReverse"
        />
        <label class="form-check-label" for="flexSwitchCheckReverse"
          >Display taxes
        </label>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <%if(listings.length>0){%> <%for (let listing of listings){%>

  <div class="card mt-3">
    <a href="listings/<%=listing._id%>" class="index-card-link">
      <img
        src="<%= listing.image.url%>"
        class="card-img-top index-img"
        alt="..."
      />
      <div class="card-body index-card-body">
        <div class="card-text text-black">
          <b><%= listing.title %> </b><br />
          PKR <%= listing.price.toLocaleString("ur-PK")%>
          <i id="taxes" class="taxes">+ 18% GST</i>
        </div>
      </div>
    </a>
  </div>

  <%}%> <%}%>
</div>
