<% layout('layouts/boilerplate') -%>

<div class="row">
  <div class="col-6 offset-3">
    <h1 class="mb-3 mt-3">SignUp</h1>
    <form method="POST" action="/signup" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          name="email"
          class="form-control"
          placeholder="Enter email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          placeholder="Enter image URL"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          class="form-control"
          placeholder="Enter price"
          required
        />
      </div>

      <button class="btn btn-success mb-5">Create</button>
    </form>
  </div>
</div>
